/* CUSTOM PROPS */
:root {
  --accent-color: #fe5626;
  --green: #46cb72;
}

/* FONTS */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"),
    url("../fonts/montserrat-v15-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
    url("../fonts/montserrat-v15-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v15-latin-700.woff") format("woff");
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* HELPERS */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 105px;
  font-size: 16px;
  line-height: normal;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__open-hours-tel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 415px;
}

.site-header__open-hours {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.site-header__open-hours::before {
  width: 4px;
  height: 4px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: var(--green);
  content: "";
}

.site-header__tel {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

.site-header__tel::before {
  width: 33px;
  height: 33px;
  margin-right: 16px;
  border-radius: 50%;
  content: "";
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
}

.site-header__tel:hover {
  color:var(--accent-color);
}

/* SITENAV */
.sitenav {
  width: 415px;
}

.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  text-decoration: none;
  color: #222;
}

.sitenav__link:hover {
  color: var(--accent-color);
}

/* LOGO */
.logo__img {
  display: block;
}

/* HERO */
.hero {
  background-color: #f0f5fb;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center 50px;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero-bg@2x.png");
  }
}

.hero__text {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  font-size: 18px;
  text-align: center;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 48px;
  line-height: normal;
}

.hero__small-text {
  margin-top: 0;
  margin-bottom: 27px;
}

.hero__img-wrapper {
  position: relative;
  z-index: 1;
  bottom: -109px;
  display: flex;
  justify-content: center;
  margin-top: -109px;
}

.hero__img {
  margin-left: 150px;
}

.hero__promo {
  position: absolute;
  z-index: 1;
  left: calc(50% + 350px);
  top: 95px;
  width: 200px;
  text-align: right;
}

.hero__promo::before {
  position: absolute;
  right: 110%;
  top: 35px;
  width: 141px;
  height: 41px;
  background-image: url("../img/hero-promo-line.svg");
  content: "";
}

.hero__promo::after {
  position: absolute;
  z-index: 1;
  right: 190%;
  top: 100px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  content: "";
}

.hero__promo-price {
  color: var(--accent-color);
  font-weight: bold;
}

/* CART */
.cart {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cart__link {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/shopping-bag.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.cart__quantity {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 50%;
}

.cart__sum {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  margin-right: 25px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.cart__sum::after {
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #333;
  content: "";
}

/* POPULAR-DISHES */
.popular-dishes {
  padding-top: 140px;
  padding-bottom: 103px;
}

.popular-dishes__heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 48px;
  line-height: normal;
  text-align: center;
}

.popular-dishes__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.popular-dishes__filter-item:not(:last-child) {
  margin-right: 30px;
}

.popular-dishes__filter-link {
  display: block;
  padding: 16px 40px;
  border-radius: 45px;
  font-weight: 600;
  background-color: #eceef6;
  color: #151515;
  text-decoration: none;
}

.popular-dishes__filter-item--active .popular-dishes__filter-link {
  background-color: #59aaf1;
  color: #fff;
}
